@import '../../../breakpoints';

.card {
  display: block;
  padding: 2.5rem;
  border-radius: 1.5rem;
  background: #0a0000;
  background: linear-gradient(90deg, rgba(10,0,0,1) 0%, rgba(4,27,51,1) 50%, rgba(0,0,0,1) 100%);
  color: inherit;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  @include respond-to-max(md) {
    padding: 1.5rem;
  }

  &:before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.06;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
  }

  /* Helper: allow inner elements to position relative to card */
  & > * {
    position: relative;
  }
}
