.glitch {
  position: relative;
  color: white;
  mix-blend-mode: lighten;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  clip-path: inset(50% 50% 50% 50%);
}

.glitch::before {
  left: -2px;
  text-shadow: -1px 0 red;
  animation: glitch-before 2s infinite linear alternate-reverse;
}

.glitch::after {
  left: 2px;
  text-shadow: -1px 0 blue;
  animation: glitch-after 2s infinite linear alternate-reverse;
}

@keyframes glitch-before {
  0%, 80% { clip-path: inset(40% 0 60% 0); }
  100% { clip-path: inset(60% 0 40% 0); }
}

@keyframes glitch-after {
  0%, 80% { clip-path: inset(60% 0 40% 0); }
  100% { clip-path: inset(40% 0 60% 0); }
}